@{
    Layout = "_Layout";
}

@using Bakery.Models;

<h1>Welcome to Your Bakery Page!</h1>

<hr>

<h4>Treats</h4>
@if (Model["treats"].Length == 0)
{
  <p>No treats have been added yet!</p>
} 
<ul>
  @foreach (Treat trt in Model["treats"])
  {
    <li>@Html.ActionLink(@trt.Type, "Details", "Treat", new { id = @trt.TreatId})</li>
  }
</ul>

<hr>

<h4>Flavors</h4>
@if (Model["flavors"].Length == 0)
{
  <p>No flavors have been added yet!</p>
} 
<ul>
  @foreach (Flavor flav in Model["flavors"])
  {
    <li>@Html.ActionLink(@flav.Frosting, "Details", "flavor", new { id = @flav.FlavorId})</li>
  }
</ul>

<p>@Html.ActionLink("See all treats", "Index", "Treat")</p> 
<p>@Html.ActionLink("See all flavors", "Index", "Flavor")</p> 
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>